<div class=title-table>
    <div class=user-name><%= link_to current_user.name, edit_user_path(current_user) %></div>
    <div class=btn>
        <%= link_to 'チャットを作成する', new_room_path %>
    </div>
</div>

<div class=chat-list>
    <% current_user.rooms.each do |room| %>
        <div class=room>
            <%= link_to room.name room_messages_path(room) %>
        </div>
    <% end %>
</div>