<div class=title-table>
    <div class=user-name>MINO</div>
    <div class=btn>
        <a href="#" >チャットを作成する</a>
    </div>
</div>

<div class=chat-list>
    <div class=room>
        <a href="#">origin-1</a>
    </div>
    <div class=room>
        <a href="#">origin-2</a>
    </div>
</div>